.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
}

li {
  list-style: none;
}

h2 {
  text-align: center;
}

/* FILM */
.film-container {
  display: flex;
}

.film-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 70%;

}

.film-list-title {
  color: #c28664;
  padding-left: 20px;
  font-size: 40px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

.film-item {
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28%;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
  min-height: 20%;
}

.film-item:hover {
  transform: scale(1.05);
}

.film-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

/* FILM DETAILS */
.film-details {
  margin-top: 10px;
  text-align: center;
}

.film-details h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.film-details p {
  margin: 5px 0;
  color: #777;
}

.btn {
  margin-top: 20px;
}

.btn-dt {
  border: 0;
  background-color: rgba(0, 0, 255, 0.715);
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transform: 0.3s;

}

.btn-dt:hover {
  transform: scale(1.05);
}

.film-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.film-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  max-width: 500px;
  position: relative;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 2px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  background-color: royalblue;
}

.modal-btn {
  display: flex;
  justify-content: center;
}

.btn-cancel {
  background-color: #777;
  margin-right: 20px;
}

.App-dark {
  background-color: azure;
  color: black;
}

.theme-btn {
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
}

.btn-theme {
  background-color: black;
}

.film-detail-container {
  padding: 20px;
}

.film-detail-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.film-detail {
  display: flex;
  align-items: center;
}


.film-details {
  flex: 1;
}

.film-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.film-info {
  margin-bottom: 5px;
}

.film-description {
  margin-top: 20px;
}

/* FILM DETAILS */

.film-detail-container {
  text-align: center;
  background-color: #f5f5f5;
}

.film-detail-title {
  font-size: 28px;
  color: #ff9658;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
}

.film-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.film-image {
  width: 400px;
  height: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.film-details {
  margin-left: 20px;
  text-align: left;
}

.film-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.film-info {
  font-size: 16px;
  color: #888;
  margin-bottom: 5px;
}

.film-description {
  font-size: 18px;
  color: #666;
}

@media (max-width: 480px) {
  .film-detail-title {
    font-size: 24px;
  }

  .film-image {
    width: 150px;
  }

  .film-title {
    font-size: 20px;
  }

  .film-info {
    font-size: 14px;
  }

  .film-description {
    font-size: 16px;
  }
}

.btn-container {}

.btn-watch {
  width: 200px;
}

/* CONTACT */
.contact-container {
  text-align: center;
  background-color: #f5f5f5;
  width: 100%;
}

.contact-title {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

.contact-description {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.contact-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact-list li {
  font-size: 16px;
  color: #888;
  margin-bottom: 10px;
}

.contact-image {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-image:hover {
  transform: scale(1.05);
}

.contact-image:focus {
  outline: none;
}

@media (max-width: 480px) {
  .contact-title {
    font-size: 24px;
  }

  .contact-description {
    font-size: 16px;
  }

  .contact-list li {
    font-size: 14px;
  }
}



/* Film new */
.film-new {
  color: black;
  width: 30%;
}

.film-new h1 {
  color: #c28664;
  padding-left: 20px;
  font-size: 40px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

/* MODAL VIDEO */
.modal {
  display: block !important;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black background with opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered horizontally */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Adjust width to your preference */
  max-width: 600px;
  /* Set maximum width */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



/* Material UI */

.header-edit {
  width: 100%;
}

.navbar-edit {
  background-color: #777;

}

.card {
  color: #333;
  height: 440px;
}

.card-title-edit {
  background-color: red;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.card-title i {
  display: none;
}

.card-content {}

.card-title-edit img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.slider-edit {
  height: 200px;
}

.slider-item {
  background-color: red;
  height: 100%;
}

.slider-item img {
  height: 100%;
  object-fit: cover;
}

.collection-item {}

.collection-item img {
  object-fit: cover;
}

.collection-item .title {
  cursor: pointer;
  padding: 20px 20px 20px 0;
  transition: .3s linear;

}

.collection-item .title:hover {
  color: #c28664;
  font-size: 17px !important;

}

.about-container img {
  margin-left: 20%;
  width: 290px;
}


.footer-container {
  width: 100%;
  background-color: red;
}

.footer-edit {
  background-color: #777 !important;
  width: 100%;
  height: 260px;
}